<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQjCNMjZ2KmDTk4ZlxLVa5fiSynGV0DZE</string>
	<key>GCM_SENDER_ID</key>
	<string>1027155819081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodForFamily</string>
	<key>PROJECT_ID</key>
	<string>foodforfamily-8a8e3</string>
	<key>STORAGE_BUCKET</key>
	<string>foodforfamily-8a8e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027155819081:ios:a6abe2f6cc76b59b1a5d98</string>
	<key>DATABASE_URL</key>
	<string>https://foodforfamily-8a8e3-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>